configuration draft
===================

based on ConfigParser, with some computed defaults (namely: the hostname)

[general] - general configuration (not specific to WILMix nor WILMAsm)
protocol: udp/tcp
service: "_mint-sm" (service-name used for zeroconf)

[HG] - configuration of master node
# which SMi's should be connected?

[SMi] - generic configuration for WILMAsm
ID: name to display on WILMix
port: 0..65535 (network port to listen on (or 0 for automatic))
gain control: 1.. (alsamixer control number for pre-microphone amp)

[SM:<ID>] - specific configuration for named SMi
-> [SMi]
